<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List App</title>
    <link rel="stylesheet" href="../public/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div>
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <!-- Mobile menu button-->
              <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex flex-shrink-0 items-center">
                <img class="block h-8 w-auto lg:hidden" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                <img class="hidden h-8 w-auto lg:block" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
              </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">My TODO's App</a>
                  <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Team</a>
                  <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Projects</a>
                  <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Calendar</a>
                </div>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <form action="/users/logout" method="post">
                  <button type="submit" class="btn text-white px-4 py-2 bg-black rounded-full border-solid min-w-fit font-semibold">Logout</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <div class="mt-10">
        <form action="/task/new" method="post" class="flex justify-center flex-col items-center my-8 space-y-8">
            <input type="text" name="title" id="" placeholder="Enter Title"  class="w-8/12 py-2 px-2 bg-gray-200 outline-none">
            <textarea name="description" id="" cols="30" rows="5" placeholder="Enter Description" class="w-8/12 py-2 px-2 bg-gray-200 outline-none resize-none"></textarea>
            <div class="flex space-x-8">
              <input type="submit" value="Add Task" class="bg-gray-500 text-white px-2 py-1 cursor-pointer">
            </div>
        </form>
        <form action="/task/clearAll" method="post" class="flex justify-center items-center mb-10">
          <div class="flex space-x-8">
            <input type="submit" value="Clear Task" class="bg-red-500 text-white px-2 py-1 cursor-pointer">
          </div> 
        </form>
    </div>

    <div class="table-container flex flex-col justify-center align-center mx-auto w-[90%]">
      <div class="table-head flex bg-gray-800 text-white w-full ">
        <div class="w-1/12 p-2 font-semibold text-center">Sr No.</div>
        <div class="w-2/12 p-2 font-semibold text-center">TITLE</div>
        <div class="w-1/3 p-2 font-semibold text-center">DESCRIPTION</div>
        <div class="w-1/12 p-2 font-semibold text-center">DONE</div>
        <div class="w-1/3 p-2 font-semibold text-center">ACTION</div>
      </div>
      <% if (allTask.length === 0){ %>
        <h2 class=" h-64 flex justify-center items-center font-bold text-3xl">No data yet</h2>
      <% }else{ %>
        <% allTask.forEach((task, i)=>{ %>
          <div class="table-body flex w-full bg-gray-200">
            <div class="w-1/12 p-2 text-center"><%= i+1 %></div>
            <div class="w-2/12 p-2 text-center"><%= task.title %></div>
            <div class="w-1/3 p-2 text-center"><%= task.description %></div>
            <div class="w-1/12 p-2 text-center"><input type="checkbox" name="done" id="done" class="h-4 "></div>
            <div class="w-1/3 p-2 text-center">
              <form action="/task/delete/<%=task.id%>" method="post">
                <button type="submit" class="btn bg-red-500 text-white py-1 px-2 min-w-fit">Delete</button>
              </form>
            </div>
          </div>
        <% }) %>
      <% } %>

    </div>
  </div>
</body>

</html>